@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Noto+Sans+JP:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

html,
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 10px auto 10px auto;
	max-width: 1200px;
}

.main-window{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}